.img-center {
    width: auto; 
    height: 90%;
    border-radius: 50%;
}
.container { 
    width:100%;
    height:100%;
    position: relative;
}
.container img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}