<ion-header>
  <ion-toolbar [color]="navColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%; height: 35%;">
    <div class="container">
      <img class="img-center" src="{{data.picture}}">
    </div>
  </div>
  <div>  
    <h3 class="text center">{{ data.nombre }}</h3>
    <h6 class="text center">{{ data.email }}</h6><hr/>
  </div>
    <!-- CONFIGURACION -->
    <ion-list>
      <ion-list-header>
        <ion-label>Configuración</ion-label>
      </ion-list-header>
      <ion-item (click)="presentModal(data.id, 1)">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          Editar Mi Perfil
        </ion-label>
      </ion-item>
      <ion-item (click)="presentModal(data.id, 2)">
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label>
          Cambiar Contraseña
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
