<ion-header>
  <ion-toolbar color="1763A6">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="parameter==1">
  <form (ngSubmit)="saveChanges()">
    <!--USUARIO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.username" name="username" disabled>
      </ion-input>
    </ion-item>
    <!--CORREO ELECTRONICO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="email" [(ngModel)]="data.email" name="email" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.nombres" name="nombres">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.apellidos" name="apellidos">
      </ion-input>
    </ion-item>
    <!--FECHA DE NACIMIENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
      <ion-datetime (keyup.enter)="saveChanges()" displayFormat="DD MMM YYYY" [(ngModel)]="data.nacimiento"  name="nacimiento">
      </ion-datetime>
    </ion-item>
    <!--TELEFONO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon>  No. Celular</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="tel" [(ngModel)]="data.telefono" name="telefono">
      </ion-input>
    </ion-item>
    <ion-button color="1763A6" expand="full" type="submit" [disabled]="disabledBtn">
      <ion-icon name="archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter==2">
<form (ngSubmit)="changePasswordProfile()">
    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="unlock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType3" [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword3()" *ngIf="!passwordShow3"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword3()" *ngIf="passwordShow3"></ion-icon>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="unlock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType" [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType2" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword2()" *ngIf="!passwordShow2"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword2()" *ngIf="passwordShow2"></ion-icon>
    </ion-item>
    <ion-button color="1763A6" expand="full" type="submit" [disabled]="disabledBtn2">
      <ion-icon name="archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>