<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToRoute('cliente/carrito/1')">
        <ion-icon name="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="parameter=='restaurante'">
  <div *ngFor="let x of restaurantes">
    <ion-card color="{{((x.color)?x.color:'4EA4D9')}}" mode="ios" (click)="goToRoute('cliente/producto/' + x.id)">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img [src]="x.imagen"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">{{ ((x.nombre)?x.nombre:'') }}</strong>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  </div>

  <div *ngIf="parameter=='categoria'">
    <div *ngFor="let x of categorias">
      <ion-card color="{{((x.color)?x.color:'4EA4D9')}}" mode="ios" (click)="goToRoute('cliente/producto/' + x.id)">
        <ion-row>
          <ion-col size="6">
            <div style="height: 100%; width: 100%">
              <div class="contenedor">
                <img [src]="x.imagen"
                class="img-center-card">
              </div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="container5" style="height: 100%; width: 100%">
              <div style="width: 100%;">
              <strong class="text" style="font-size:5vw;">{{ ((x.nombre)?x.nombre:'') }}</strong>
              <hr style="background-color: white;">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
