<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle de Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="map" style="height: 300px; width: 100%"></div>
  <ion-item *ngIf="data" lines="none">
    <ion-avatar slot="start" style="width: 75px; height: auto;">
      <img src="{{((data.clientes.foto!=null)?data.clientes.foto:'http://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png')}}">
    </ion-avatar>
    <ion-label text-wrap>
      <ion-text>
        <h2><ion-icon name="person"></ion-icon>  {{data.clientes.nombres}} {{data.clientes.apellidos}}</h2>
        <p><ion-icon name="phone-portrait"></ion-icon>  {{ data.clientes.telefono }}</p>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="data" lines="none">
    <ion-label text-wrap>
      <ion-text>
        <p><strong><ion-icon name="pin"></ion-icon>  Partida: </strong> {{data.recoger_en.direccion}} </p>
        <p><strong><ion-icon name="pin"></ion-icon>  Destino: </strong> {{data.llegar_a.direccion}}</p>
        <p><strong><ion-icon name="cash"></ion-icon>  Tarifa: </strong> Q {{ data.total}}</p>
      </ion-text>
    </ion-label>
  </ion-item>
  <div *ngIf="data">
  <ion-item *ngFor="let x of table">
    <ion-avatar slot="start" *ngIf="x.state == '2'">
      <img src="{{((x.clientes.foto!=null)?x.clientes.foto:'http://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png')}}">
    </ion-avatar>
    <ion-avatar slot="start" *ngIf="x.state != '2'">
      <img src="https://png.pngtree.com/element_origin_min_pic/17/01/04/d6bdc29bf75b7f9be4316aed8b2c2230.jpg">
    </ion-avatar>
    <ion-label text-wrap>
      <ion-text>
        <p><ion-icon name="chatbubbles"></ion-icon>  {{x.respuesta}}</p>
        <p><ion-icon name="cash"></ion-icon><strong>  Q {{x.monto}}</strong></p>
      </ion-text>
    </ion-label>
    <ion-button *ngIf="x.state != '2' && data.state == '0'" slot="end" color="{{appColor}}" expand="block" type="submit" (click)="update(x.taxi, x.monto)">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Aceptar
    </ion-button>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="data.state == '0'">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </div>
</ion-content>

<!--<ion-footer padding>
  <ion-button color="{{appColor}}" expand="block" type="submit" [disabled]="disabledBtn">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    Aceptar Viaje
  </ion-button>
</ion-footer>-->
