<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentModal()">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="{{navColor}}">
    <ion-searchbar showCancelButton (ionInput)="updateSearchResults()" [(ngModel)]="autocomplete.input"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div id="map" style="height: 100%; width: 100%"></div>
</ion-content>

<ion-footer>
  <form padding (ngSubmit)="saveChanges()">
    <ion-item>
      <ion-label position=""><ion-icon name="pin"></ion-icon></ion-label>
      <ion-input placeholder="Lugar de Partida" [(ngModel)]="addressOrigin.direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=""><ion-icon name="pin"></ion-icon></ion-label>
      <ion-input placeholder="Destino" [(ngModel)]="addressDestination.direccion" name="direccion2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=""><ion-icon name="cash"></ion-icon></ion-label>
      <ion-input type="number" placeholder="Ofrezca su tarifa" [(ngModel)]="data.total" name="total"></ion-input>
    </ion-item>
    <ion-button expand="block" color="1763A6" type="submit">
      Solicitar una moto
    </ion-button>
  </form>
</ion-footer>