<ion-header>
  <ion-toolbar color="{{appColor}}">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--MATRICULA-->
    <ion-item >
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Matrícula</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.matricula" name="matricula">
      </ion-input>
    </ion-item>
    <!--MARCA-->
    <ion-item >
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Marca</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.marca" name="marca">
      </ion-input>
    </ion-item>
    <!--USUARIO-->
    <ion-item >
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Línea</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.linea" name="linea">
      </ion-input>
    </ion-item>
    <!--USUARIO-->
    <ion-item >
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Codigo</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.codigo" name="codigo">
      </ion-input>
    </ion-item>
    <ion-button color="{{appColor}}" expand="full" type="submit" [disabled]="disabledBtn">
      <ion-icon name="archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>