<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Viajes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="{{navColor}}">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="disponibles" checked>
        <ion-label>Disponibles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="viajes">
        <ion-label>Realizados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="actual">
        <ion-label>Actual</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let x of table;let ndx = index">
    <ion-card (click)="goToRoute('taxi/solicitudes-detalle-taxista/' + x.id)">
      <ion-card-header>
        <ion-card-title *ngIf="itemSelected=='disponibles'">
          <ion-icon name="pin"></ion-icon>  Nuevo Viaje {{ndx+1}}
        </ion-card-title>
        <ion-card-title *ngIf="itemSelected=='viajes'">
          <ion-icon name="pin"></ion-icon>  Viaje Realizado {{ndx+1}}
        </ion-card-title>
        <ion-card-title *ngIf="itemSelected=='actual'">
          <ion-icon name="pin"></ion-icon>  Viaje Actual
        </ion-card-title>
        <ion-card-subtitle>{{ x.tiempo }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong><ion-icon name="pin"></ion-icon>  Partida: </strong> {{x.recoger_en.direccion}} </p>
        <p><strong><ion-icon name="pin"></ion-icon>  Destino: </strong> {{x.llegar_a.direccion}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>