<ion-header>
  <ion-toolbar color="{{appColor}}">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--MONTO-->
    <ion-item >
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Monto</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="number" [(ngModel)]="data.monto" name="monto">
      </ion-input>
    </ion-item>
    <!--COMENTARIO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pin"></ion-icon>  Respuesta</ion-label>
      <ion-textarea rows="4" cols="20" (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.respuesta" name="respuesta" maxlength="255">
      </ion-textarea>
    </ion-item>
    <ion-button color="{{appColor}}" expand="full" type="submit" [disabled]="disabledBtn">
      <ion-icon name="archive" slot="start"></ion-icon>
      Enviar Oferta
    </ion-button>
  </form>
</ion-content>