<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToRoute('cliente/carrito/1')">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let x of productos">
      <ion-item *ngIf="parameter==x.categoria">
        <ion-thumbnail slot="start">
          <img src="{{x.imagen}}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>{{x.nombre}}</h2>
        </ion-text>
          <p><strong>Precio: Q</strong>{{x.precio}}</p>
        </ion-label>
        <ion-chip (click)="agregarCarrito(x)">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Agregar al Carrito</ion-label>
        </ion-chip>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
