<ion-content color="1763A6">
  <div style="width: 100%; height: 50%; background-color: #000;">
    <div class="container">
      <img class="img-center" src="../../assets/pidechapin.png">
    </div>
  </div>
  <div>
  <form padding (ngSubmit)="authentication()">
    <ion-item color="1763A6">
      <ion-label style="color: white;" position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input type="text" (keyup.enter)="authentication()" [(ngModel)]="data.username" name="username"></ion-input>
    </ion-item>
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="lock"></ion-icon>  Contraseña</ion-label>
      <ion-input (keyup.enter)="authentication()" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon style="color: white;" name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon style="color: white;" name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <ion-button color="4EA4D9" expand="block" type="submit" [disabled]="disabledBtn">Iniciar Sesión</ion-button>
    <ion-button color="4EA4D9" expand="block" type="button" (click)="presentModal()">Registrarse</ion-button>
  </form>
  </div>
</ion-content>
