<ion-header>
  <ion-toolbar [color]="navColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-item (click)="openModal(data.id,1)">
    <ion-avatar slot="start" style="width: 75px; height: auto;">
      <img src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/35271090_906761809506001_4717199595224956928_n.jpg?_nc_cat=107&_nc_ht=scontent.flim5-3.fna&oh=eb27ad44783256d7b02b2cedd2d034b1&oe=5D11A9A6">
    </ion-avatar>
    <ion-label text-wrap *ngIf="data">
      <ion-text>
        <h2>{{ data.nombre }}</h2>
      </ion-text>
      <p>{{ data.telefono }}</p>
      <p>{{ data.email }}</p>
    </ion-label>
  </ion-item>
  <ion-item (click)="openModal(data.id,2)">
    <ion-icon name="lock" slot="start"></ion-icon>
    <ion-label text-wrap>
      Cambiar Contraseña
    </ion-label>
  </ion-item>-->
  <div style="width: 100%; height: 35%;">
    <div class="container">
      <img class="img-center" src="../../../assets/pidechapin.png">
    </div>
  </div>
  <div>  
    <h3 class="text center">{{ data.nombre }}</h3>
    <h6 class="text center">{{ data.email }}</h6>
    <h6 class="text center">{{ data.telefono }}</h6><hr/>
  </div>
  <!-- CONFIGURACION -->
  <ion-list>
    <ion-list-header>
      <ion-label>Configuración</ion-label>
    </ion-list-header>
    <ion-item (click)="openModal(data.id, 1)">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        Editar Mi Perfil
      </ion-label>
    </ion-item>
    <ion-item (click)="openModal(data.id, 2)">
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-label>
        Cambiar Contraseña
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Favoritos</ion-label>
    </ion-list-header>
    <ion-item (click)="presentModal()">
      <ion-icon name="add" slot="start"></ion-icon>
      <ion-label>Agregar Favoritos</ion-label>
    </ion-item>
    <div *ngFor="let x of table">
    <ion-item-sliding *ngIf="x.tipo != '1'">
      <ion-item>
        <ion-icon *ngIf="x.tipo == '4'" name="briefcase" slot="start"></ion-icon>
        <ion-icon *ngIf="x.tipo == '3'" name="home" slot="start"></ion-icon>
        <ion-icon *ngIf="x.tipo == '2'" name="star-outline" slot="start"></ion-icon>
        <ion-label>
          {{x.titulo}}
          <ion-text>
            <p>{{ x.direccion }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(x.id)" color="primary">Actualizar</ion-item-option>
        <ion-item-option (click)="delete(x.id)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
