<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start" *ngIf="parameter=='1'">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="parameter=='0'">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <div *ngFor="let x of productos">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{x.producto.imagen}}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>{{x.producto.nombre}}</h2>
        </ion-text>
          <p><strong>Cantidad: </strong>{{x.cantidad}}</p>
          <p><strong>Precio: Q</strong>{{x.producto.precio}}</p>
        </ion-label>
        <ion-chip (click)="delete(x)">
          <ion-icon name="trash"></ion-icon>
          <ion-label>Eliminar</ion-label>
        </ion-chip>
      </ion-item>
    </div>
  </ion-list>

  <ion-button color="{{navColor}}" expand="block" type="submit" [disabled]="disabledBtn">
      Confirmar Carrito
  </ion-button>
</ion-content>
