// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-gray {
  --ion-color-base: #272727;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #222222;
  --ion-color-tint: #3d3d3d;
}

.ion-color-gray-ligth {
  --ion-color-base: #8F8F8F;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #7e7e7e;
  --ion-color-tint: #9a9a9a;
}

.ion-color-green-lemon {
  --ion-color-base: #107F07;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0e7006;
  --ion-color-tint: #288c20;
}

.ion-color-green {
  --ion-color-success: #147534;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #12672e;
  --ion-color-success-tint: #2c8348;
}

.ion-color-330000 {
  --ion-color-base: #330000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d0000;
  --ion-color-tint: #471a1a;
}

.ion-color-331900 {
  --ion-color-base: #330000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d1600;
  --ion-color-tint: #47301a;
}

.ion-color-333300 {
  --ion-color-base: #333300;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d2d00;
  --ion-color-tint: #47471a;
}

.ion-color-193300 {
  --ion-color-base: #193300;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #162d00;
  --ion-color-tint: #30471a;
}

.ion-color-003300 {
  --ion-color-base: #003300;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #002d00;
  --ion-color-tint: #1a471a;
}

.ion-color-003319 {
  --ion-color-base: #003319;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #002d16;
  --ion-color-tint: #1a4730;
}


.ion-color-003333 {
  --ion-color-base: #003333;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #002d2d;
  --ion-color-tint: #1a4747;
}

.ion-color-001933 {
  --ion-color-base: #001933;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00162d;
  --ion-color-tint: #1a3047;
}

.ion-color-000033 {
  --ion-color-base: #000033;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00002d;
  --ion-color-tint: #1a1a47;
}

.ion-color-190033 {
  --ion-color-base: #190033;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #16002d;
  --ion-color-tint: #301a47;
}

.ion-color-330033 {
  --ion-color-base: #330033;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d002d;
  --ion-color-tint: #471a47;
}

.ion-color-330019 {
  --ion-color-base: #330019;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d0016;
  --ion-color-tint: #471a30;
}

.ion-color-000000 {
  --ion-color-base: #000000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #000000;
  --ion-color-tint: #1a1a1a;
}

/// SEGUNDA LINEA
.ion-color-660000 {
  --ion-color-base: #660000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a0000;
  --ion-color-tint: #751a1a;
}

.ion-color-663300 {
  --ion-color-base: #663300;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a2d00;
  --ion-color-tint: #75471a;
}

.ion-color-666600 {
  --ion-color-base: #666600;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a5a00;
  --ion-color-tint: #75751a;
}

.ion-color-336600 {
  --ion-color-base: #336600;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d5a00;
  --ion-color-tint: #47751a;
}

.ion-color-006600 {
  --ion-color-base: #006600;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #005a00;
  --ion-color-tint: #1a751a;
}

.ion-color-006633 {
  --ion-color-base: #006633;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #005a2d;
  --ion-color-tint: #1a7547;
}

.ion-color-006666 {
  --ion-color-base: #006666;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #005a5a;
  --ion-color-tint: #1a7575;
}

.ion-color-003366 {
  --ion-color-base: #003366;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #002d5a;
  --ion-color-tint: #1a4775;
}

.ion-color-000066 {
  --ion-color-base: #000066;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00005a;
  --ion-color-tint: #1a1a75;
}

.ion-color-330066 {
  --ion-color-base: #330066;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d005a;
  --ion-color-tint: #471a75;
}

.ion-color-660066 {
  --ion-color-base: #660066;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a005a;
  --ion-color-tint: #751a75;
}

.ion-color-660033 {
  --ion-color-base: #660033;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a002d;
  --ion-color-tint: #751a47;
}

.ion-color-202020 {
  --ion-color-base: #202020;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #1c1c1c;
  --ion-color-tint: #363636;
}

//TERCERA LINEA
.ion-color-990000 {
  --ion-color-base: #990000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #870000;
  --ion-color-tint: #a31a1a;
}

.ion-color-994C00 {
  --ion-color-base: #994C00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #874300;
  --ion-color-tint: #a35e1a;
}

.ion-color-999900 {
  --ion-color-base: #999900;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #878700;
  --ion-color-tint: #a3a31a;
}

.ion-color-4C9900 {
  --ion-color-base: #4C9900;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #438700;
  --ion-color-tint: #5ea31a;
}

.ion-color-009900 {
  --ion-color-base: #009900;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #008700;
  --ion-color-tint: #1aa31a;
}

.ion-color-00994C {
  --ion-color-base: #00994C;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #008743;
  --ion-color-tint: #1aa35e;
}

.ion-color-009999 {
  --ion-color-base: #009999;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #008787;
  --ion-color-tint: #1aa3a3;
}

.ion-color-004C99 {
  --ion-color-base: #004C99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #004387;
  --ion-color-tint: #1a5ea3;
}

.ion-color-000099 {
  --ion-color-base: #000099;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #000087;
  --ion-color-tint: #1a1aa3;
}

.ion-color-4C0099 {
  --ion-color-base: #4C0099;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #430087;
  --ion-color-tint: #5e1aa3;
}

.ion-color-990099 {
  --ion-color-base: #990099;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #870087;
  --ion-color-tint: #a31aa3;
}

.ion-color-99004C {
  --ion-color-base: #99004C;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #870043;
  --ion-color-tint: #a31a5e;
}

.ion-color-404040 {
  --ion-color-base: #404040;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #383838;
  --ion-color-tint: #535353;
}

//COLOR DE LINEA
.ion-color-CC0000 {
  --ion-color-base: #CC0000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b40000;
  --ion-color-tint: #d11a1a;
}

.ion-color-CC6600 {
  --ion-color-base: #CC6600;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b45a00;
  --ion-color-tint: #d1751a;
}

.ion-color-CC0000 {
  --ion-color-base: #CC0000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b40000;
  --ion-color-tint: #d11a1a;
}

.ion-color-CCCC00 {
  --ion-color-base: #CCCC00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4b400;
  --ion-color-tint: #d1d11a;
}

.ion-color-66CC00 {
  --ion-color-base: #66CC00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5ab400;
  --ion-color-tint: #75d11a;
}

.ion-color-00CC00 {
  --ion-color-base: #00CC00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00b400;
  --ion-color-tint: #1ad11a;
}

.ion-color-00CC66 {
  --ion-color-base: #00CC66;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00b45a;
  --ion-color-tint: #1ad175;
}

.ion-color-00CCCC {
  --ion-color-base: #00CCCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00b4b4;
  --ion-color-tint: #1ad1d1;
}

.ion-color-0000CC {
  --ion-color-base: #0000CC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0000b4;
  --ion-color-tint: #1a1ad1;
}

.ion-color-6600CC {
  --ion-color-base: #6600CC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a00b4;
  --ion-color-tint: #751ad1;
}

.ion-color-CC00CC {
  --ion-color-base: #CC00CC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b400b4;
  --ion-color-tint: #d11ad1;
}

.ion-color-CC0066 {
  --ion-color-base: #CC0066;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4005a;
  --ion-color-tint: #d11a75;
}

.ion-color-606060 {
  --ion-color-base: #606060;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #545454;
  --ion-color-tint: #707070;
}

//QUINTA LINEA
.ion-color-FF0000 {
  --ion-color-base: #FF0000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e00000;
  --ion-color-tint: #ff1a1a;
}

.ion-color-FF8000 {
  --ion-color-base: #FF8000;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e07100;
  --ion-color-tint: #ff8d1a;
}

.ion-color-FFFF00 {
  --ion-color-base: #FFFF00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

.ion-color-80FF00 {
  --ion-color-base: #80FF00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #71e000;
  --ion-color-tint: #8dff1a;
}

.ion-color-00FF00 {
  --ion-color-base: #00FF00;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00e000;
  --ion-color-tint: #1aff1a;
}

.ion-color-00FF80 {
  --ion-color-base: #00FF80;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00e071;
  --ion-color-tint: #1aff8d;
}

.ion-color-00FFFF {
  --ion-color-base: #00FFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #00e0e0;
  --ion-color-tint: #1affff;
}

.ion-color-0080FF {
  --ion-color-base: #0080FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0071e0;
  --ion-color-tint: #1a8dff;
}

.ion-color-0000FF {
  --ion-color-base: #0000FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0000e0;
  --ion-color-tint: #1a1aff;
}

.ion-color-7F00FF {
  --ion-color-base: #7F00FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #7000e0;
  --ion-color-tint: #8c1aff;
}

.ion-color-0000FF {
  --ion-color-base: #FF00FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e000e0;
  --ion-color-tint: #ff1aff;
}

.ion-color-FF007F {
  --ion-color-base: #FF007F;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e00070;
  --ion-color-tint: #ff1a8c;
}

.ion-color-808080 {
  --ion-color-base: #808080;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #717171;
  --ion-color-tint: #8d8d8d;
}

//SEXTA LINEA
.ion-color-FF3333 {
  --ion-color-base: #FF3333;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e02d2d;
  --ion-color-tint: #ff4747;
}

.ion-color-FF9933 {
  --ion-color-base: #FF9933;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0872d;
  --ion-color-tint: #ffa347;
}

.ion-color-FFFF33 {
  --ion-color-base: #FFFF33;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e02d;
  --ion-color-tint: #ffff47;
}

.ion-color-99FF33 {
  --ion-color-base: #99FF33;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #87e02d;
  --ion-color-tint: #a3ff47;
}

.ion-color-33FF33 {
  --ion-color-base: #33FF33;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2de02d;
  --ion-color-tint: #47ff47;
}

.ion-color-33FF99 {
  --ion-color-base: #33FF99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2de087;
  --ion-color-tint: #47ffa3;
}

.ion-color-33FFFF {
  --ion-color-base: #33FFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2de0e0;
  --ion-color-tint: #47ffff;
}

.ion-color-3399FF {
  --ion-color-base: #3399FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d87e0;
  --ion-color-tint: #47a3ff;
}

.ion-color-3333FF {
  --ion-color-base: #3333FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d2de0;
  --ion-color-tint: #4747ff;
}

.ion-color-9933FF {
  --ion-color-base: #9933FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #872de0;
  --ion-color-tint: #a347ff;
}

.ion-color-FF33FF {
  --ion-color-base: #FF33FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e02de0;
  --ion-color-tint: #ff47ff;
}

.ion-color-FF3399 {
  --ion-color-base: #FF3399;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e02d87;
  --ion-color-tint: #ff47a3;
}

.ion-color-A0A0A0 {
  --ion-color-base: #A0A0A0;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #8d8d8d;
  --ion-color-tint: #aaaaaa;
}

//SEPTIMA LINEA
.ion-color-FF6666 {
  --ion-color-base: #FF6666;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e05a5a;
  --ion-color-tint: #ff7575;
}

.ion-color-FFB266 {
  --ion-color-base: #FFB266;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e09d5a;
  --ion-color-tint: #ffba75;
}

.ion-color-FFFF66 {
  --ion-color-base: #FFFF66;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e05a;
  --ion-color-tint: #ffff75;
}

.ion-color-B2FF66 {
  --ion-color-base: #B2FF66;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #9de05a;
  --ion-color-tint: #baff75;
}

.ion-color-66FF66 {
  --ion-color-base: #66FF66;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5ae05a;
  --ion-color-tint: #75ff75;
}

.ion-color-66FFB2 {
  --ion-color-base: #66FFB2;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5ae09d;
  --ion-color-tint: #75ffba;
}

.ion-color-66FFFF {
  --ion-color-base: #66FFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5ae0e0;
  --ion-color-tint: #75ffff;
}

.ion-color-66B2FF {
  --ion-color-base: #66B2FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a9de0;
  --ion-color-tint: #75baff;
}

.ion-color-6666FF {
  --ion-color-base: #6666FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5a5ae0;
  --ion-color-tint: #7575ff;
}

.ion-color-B266FF {
  --ion-color-base: #B266FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #9d5ae0;
  --ion-color-tint: #ba75ff;
}

.ion-color-FF66FF {
  --ion-color-base: #FF66FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e05ae0;
  --ion-color-tint: #ff75ff;
}

.ion-color-FF66B2 {
  --ion-color-base: #FF66B2;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e05a9d;
  --ion-color-tint: #ff75ba;
}

.ion-color-C0C0C0 {
  --ion-color-base: #C0C0C0;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #a9a9a9;
  --ion-color-tint: #c6c6c6;
}

//OCTAVA LINEA
.ion-color-FF9999 {
  --ion-color-base: #FF9999;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e08787;
  --ion-color-tint: #ffa3a3;
}

.ion-color-FFCC99 {
  --ion-color-base: #FFCC99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0b487;
  --ion-color-tint: #ffd1a3;
}

.ion-color-FFFF99 {
  --ion-color-base: #FFFF99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e087;
  --ion-color-tint: #ffffa3;
}

.ion-color-CCFF99 {
  --ion-color-base: #CCFF99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4e087;
  --ion-color-tint: #d1ffa3;
}

.ion-color-99FF99 {
  --ion-color-base: #99FF99;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #87e087;
  --ion-color-tint: #a3ffa3;
}

.ion-color-99FFCC {
  --ion-color-base: #99FFCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #87e0b4;
  --ion-color-tint: #a3ffd1;
}

.ion-color-99FFFF {
  --ion-color-base: #99FFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #87e0e0;
  --ion-color-tint: #a3ffff;
}

.ion-color-99CCFF {
  --ion-color-base: #99CCFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #87b4e0;
  --ion-color-tint: #a3d1ff;
}

.ion-color-9999FF {
  --ion-color-base: #9999FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #8787e0;
  --ion-color-tint: #a3a3ff;
}

.ion-color-CC99FF {
  --ion-color-base: #CC99FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b487e0;
  --ion-color-tint: #d1a3ff;
}

.ion-color-FF99FF {
  --ion-color-base: #FF99FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e087e0;
  --ion-color-tint: #ffa3ff;
}

.ion-color-FF99CC {
  --ion-color-base: #FF99CC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e087b4;
  --ion-color-tint: #ffa3d1;
}

.ion-color-E0E0E0 {
  --ion-color-base: #E0E0E0;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #c5c5c5;
  --ion-color-tint: #e3e3e3;
}

//NOVENA FILA
.ion-color-FFCCCC {
  --ion-color-base: #FFCCCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0b4b4;
  --ion-color-tint: #ffd1d1;
}

.ion-color-FFE5CC {
  --ion-color-base: #FFE5CC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0cab4;
  --ion-color-tint: #ffe8d1;
}

.ion-color-FFFFCC {
  --ion-color-base: #FFFFCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e0b4;
  --ion-color-tint: #ffffd1;
}

.ion-color-E5FFCC {
  --ion-color-base: #E5FFCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #cae0b4;
  --ion-color-tint: #e8ffd1;
}

.ion-color-CCFFCC {
  --ion-color-base: #CCFFCC;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4e0b4;
  --ion-color-tint: #d1ffd1;
}

.ion-color-CCFFE5 {
  --ion-color-base: #CCFFE5;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4e0ca;
  --ion-color-tint: #d1ffe8;
}

.ion-color-CCFFFF {
  --ion-color-base: #CCFFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4e0e0;
  --ion-color-tint: #d1ffff;
}

.ion-color-CCE5FF {
  --ion-color-base: #CCE5FF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4cae0;
  --ion-color-tint: #d1e8ff;
}

.ion-color-CCCCFF {
  --ion-color-base: #CCCCFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #b4b4e0;
  --ion-color-tint: #d1d1ff;
}

.ion-color-E5CCFF {
  --ion-color-base: #E5CCFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #cab4e0;
  --ion-color-tint: #e8d1ff;
}

.ion-color-FFCCFF {
  --ion-color-base: #FFCCFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0b4e0;
  --ion-color-tint: #ffd1ff;
}

.ion-color-FFCCE5 {
  --ion-color-base: #FFCCE5;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0b4ca;
  --ion-color-tint: #ffd1e8;
}

.ion-color-FFFFFF {
  --ion-color-base: #FFFFFF;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

//YO MOTO
.ion-color-1763A6 {
  --ion-color-base: #8C0303;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #7b0303;
  --ion-color-tint: #981c1c;
}

.ion-color-4EA4D9 {
  --ion-color-base: #FFBD2E;
  --ion-color-base-rgb: 105,187,123;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0a628;
  --ion-color-tint: #ffc443;
}