<ion-header>
  <ion-toolbar color="{{appColor}}">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Favoritos</ion-label>
    </ion-list-header>
    <div *ngFor="let x of table">
    <ion-item *ngIf="x.tipo != '1'" (click)="getAddress(x)">
      <ion-icon *ngIf="x.tipo == '4'" name="briefcase" slot="start"></ion-icon>
      <ion-icon *ngIf="x.tipo == '3'" name="home" slot="start"></ion-icon>
      <ion-icon *ngIf="x.tipo == '2'" name="star-outline" slot="start"></ion-icon>
      <ion-label>
        {{x.titulo}}
        <ion-text>
          <p>{{ x.direccion }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
</ion-content>