<ion-header>
  <ion-toolbar color="000000">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="1763A6">
  <form (ngSubmit)="saveChanges()">
    <!--USUARIO-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.username" name="username">
      </ion-input>
    </ion-item>
    <!--CORREO ELECTRONICO-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="email" [(ngModel)]="data.email" name="email">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="unlock"></ion-icon>  Contraseña</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon style="color: white;" name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon style="color: white;" name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType2" [(ngModel)]="data.password_repeat" name="password_repeat">
      </ion-input>
      <ion-icon style="color: white;" name="eye-off" slot="end" size="small" (click)="togglePassword2()" *ngIf="!passwordShow2"></ion-icon>
      <ion-icon style="color: white;" name="eye" slot="end" size="small" (click)="togglePassword2()" *ngIf="passwordShow2"></ion-icon>
    </ion-item>
    <!--NOMBRE-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.nombres" name="nombres">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.apellidos" name="apellidos">
      </ion-input>
    </ion-item>
    <!--FECHA DE NACIMIENTO-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
      <ion-datetime (keyup.enter)="saveChanges()" displayFormat="DD MMM YYYY" [(ngModel)]="data.nacimiento"  name="nacimiento">
      </ion-datetime>
    </ion-item>
    <!--TELEFONO-->
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="phone-portrait"></ion-icon>  No. Celular</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="tel" [(ngModel)]="data.telefono" name="telefono">
      </ion-input>
    </ion-item>
    <ion-item color="1763A6">
      <ion-label position="floating" style="color: white;"><ion-icon name="information-circle"></ion-icon>  Tipo de Usuario</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="data.rol" name="rol" >
        <ion-select-option value="3">Cliente</ion-select-option>
        <ion-select-option value="2">Taxista</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="4EA4D9" expand="block" type="submit" [disabled]="disabledBtn">
      Crear Nueva Cuenta
    </ion-button>
  </form>
</ion-content>