<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content>
        <div class="div-menu">
          <img class="img-div" src="http://www.desktopimages.org/preview/get_photo/80369/2560/1440">
          <div class="profile">
            <img *ngIf="data.foto" class="img-profile" src="./../assets/pidechapin.png">
            <h6 *ngIf="data.nombre!='null null'" class="text2">{{ data.nombre }}</h6>
            <p *ngIf="data.email" class="text">{{ data.email }}</p>
          </div>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon" [color]="p.color"></ion-icon>
              <ion-label [color]="p.color">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" (click)="logOut()" *ngIf="authentication == 'NoAuthentication'" lines="none">
              <ion-icon slot="start" name="log-in" color="1763A6"></ion-icon>
              <ion-label color="1763A6">
                Iniciar Sesión
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" (click)="logOut()" *ngIf="authentication == 'Authentication'" lines="none">
              <ion-icon slot="start" name="log-out" color="1763A6"></ion-icon>
              <ion-label color="1763A6">
                Cerrar Sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
