<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="{{navColor}}">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="friends" checked>
        <ion-label>Nuevo Pedido</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Mis Pedidos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <!--A DONDE LO LLEVAMOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  ¿Que recogemos?</ion-label>
      <ion-input type="text" name="username">
      </ion-input>
    </ion-item>
    <!--A DONDE LO LLEVAMOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  ¿A donde lo llevamos?</ion-label>
      <ion-input type="text" name="username">
      </ion-input>
    </ion-item>
    <!--A DONDE LO LLEVAMOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar">
        <ion-select-option value="1">Mi Casa</ion-select-option>
        <ion-select-option value="2">Oficina</ion-select-option>
        <ion-select-option value="3">Zona 10</ion-select-option>
      </ion-select>
    </ion-item>
    <!--A DONDE LO LLEVAMOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Observaciones</ion-label>
      <ion-input type="text" name="username">
      </ion-input>
    </ion-item>
    <ion-button color="{{navColor}}" expand="block" type="submit" [disabled]="disabledBtn">
      Realizar Pedido
    </ion-button>
  </form>
</ion-content>
