<ion-header>
  <ion-toolbar color="{{navColor}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis Solicitudes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let x of table;let ndx = index">
    <ion-card (click)="goToRoute('cliente/mis-solicitudes-detalle-cliente/' + x.id)" *ngIf="x.state == '0'">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="pin"></ion-icon>  Nuevo Viaje {{ndx+1}}
        </ion-card-title>
        <ion-card-subtitle>{{ x.tiempo }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong><ion-icon name="pin"></ion-icon>  Partida: </strong> {{x.recoger_en.titulo}} </p>
        <p><strong><ion-icon name="pin"></ion-icon>  Destino: </strong> {{x.llegar_a.titulo}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>