<ion-header>
  <ion-toolbar color="{{appColor}}">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="4EA4D9">
  <div id="map" style="height: 300px; width: 100%"></div>

  <form padding (ngSubmit)="saveChanges()">
    <!--USUARIO-->
    <ion-item color="4EA4D9">
      <ion-label position="floating" style="color: white;"><ion-icon name="information-circle"></ion-icon>  Titulo</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.titulo" name="titulo">
      </ion-input>
    </ion-item>
    <!--USUARIO-->
    <ion-item color="4EA4D9">
      <ion-label position="floating" style="color: white;"><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-textarea rows="2" cols="20" (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.direccion" name="direccion" maxlength="255">
      </ion-textarea>
    </ion-item>
    <ion-item color="4EA4D9">
      <ion-label position="floating" style="color: white;"><ion-icon name="information-circle"></ion-icon>  Tipo de Dirección</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="data.tipo" name="tipo" >
        <ion-select-option value="2">Favorito</ion-select-option>
        <ion-select-option value="3">Casa</ion-select-option>
        <ion-select-option value="4">Trabajo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="{{appColor}}" expand="full" type="submit" [disabled]="disabledBtn">
      <ion-icon name="archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>